<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <!-- <link rel="stylesheet" href="/style.css"> -->
            <link rel="stylesheet" href="/base.css">
            <link rel="stylesheet" href="/modules.css">
            <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <header>
        <nav>
            <section class="container" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </section>
            <h1>best Book</h1>
        </nav>
    </header>
    <div id="menu">
        <ul>
            <li class="options"><a href="/">Home</a></li>
            <li class="options"><a href="/search/new">Search</a></li>
        </ul>
    </div>
    <h1 id="indexH1">Search by title or author</h1>
    <form action="/searches" method="POST" id="searchForm">
        <div id="searchDiv">
            <input type="text" name="bookSearch" id="searchText">
        </div>
        <div id="radioDiv">
            <div class="btnRadio">           
                <input type="radio" id="title" name="searchType" value="title" >
                <label for="male">Title</label><br>
            </div>
            <div class="btnRadio">
                <input type="radio" id="author" name="searchType" value="author">
                <label for="male">Author</label><br>
            </div>
            
        </div>
        <button id="btnSearch" type="submit">Search</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>